.App {
  text-align: center;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;

}
.container1{
  
  background-color:rgb(197, 174, 144);
  display:flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width:auto;
  padding:20px;
  border-radius: 20px;

}
.result{
  display: flex;
  text-align: center;
  justify-content: center;
  margin:0px 12px;
  padding:10px 0px;
  background-color:antiquewhite;
  border-radius:10px;

}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the spinner in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
#field{
  margin:10px;
  padding:10px;
  border-radius:10px;
  border:none;
}
.btn{
  margin:0px 12px;
  padding:10px 25px;
  border:none;
  border-radius: 10px;
  background-color:antiquewhite;
}
btn:hover{
  background-color:beige;
}